<!--INICIA TABLA-->
<div class="">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Registrar animal
    </button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tipo</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @for (item of animalList; track item._id){
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.tipo }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!--TERMINA TABLA-->
<!-- Modal New Animal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo animal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="card p-2" (ngSubmit)="newAnimalEntry()" [formGroup]="animalForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                            placeholder="Nombre del animal" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="edad" placeholder="Edad animal"
                            formControlName="edad">
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="tipo" placeholder="Tipo de animal"
                            formControlName="tipo">
                    </div>
                    <div class="input-group justify-content-center md-12">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>