<!--INICIA TABLA-->
<div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tipo</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @for (item of animalList; track item._id){
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.tipo }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!--TERMINA TABLA-->
